.section-qualities {
  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  @extend %container;
}

.portfolio-home {
  position: absolute;
  left: -300px;
  opacity: 0;
}

.personal-qualities {
  @extend %list;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    margin: -15px;
  }

  .item {
    @media screen and (min-width: 768px) {
      width: calc((100% - 2 * 30px) / 2);
      margin: 15px;
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 4 * 30px) / 4);
      margin: 15px;
    }

    &:not(:last-child) {
      @media screen and (max-width: 767px) {
        margin-bottom: 30px;
      }
    }

    &::before {
      display: block;
      content: '';

      height: 120px;
      border-radius: 4px;
      margin-bottom: 30px;

      background-size: 70px;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #f5f4fa;
    }

    .qualities {
      margin-top: 0px;
      margin-bottom: 10px;
      font-weight: bold;
      font-size: 14px;
      line-height: 1.2;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #212121;

      @media screen and (max-width: 767px) {
        text-align: center;
      }
    }

    p {
      font-weight: normal;
      font-size: 14px;
      line-height: 1.7;
      letter-spacing: 0.03em;
      color: #757575;
    }
  }
}

//.personal-qualities .item + .item {
//  margin-left: 30px;
//}

.icon-group::before {
  background-image: url('../../images/Group.svg');
}

.icon-astronaut::before {
  background-image: url('../../images/astronaut1.svg');
}

.icon-clock::before {
  background-image: url('../../images/clock1.svg');
}

.icon-vector::before {
  background-image: url('../../images/Vector.svg');
}
