$title-text-color: #212121;
$porfolio-h-color: #212121;
$portfolio-p-color: #757575;
$acent-color: #2196f3;

$mobile: 480px;
$tablet: 768;
$desktop: 1200px;

$fontReleway: Releway, sans-serif;
$fontRoboto: Roboto, sans-serif;
